<!doctype html>
<html>
<head>
    <title>Demo Day</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Upload!</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-12">
          <form action="/upload" enctype="multipart/form-data" method="POST">
              <div id= "uploadForm" class="form-group">

                  <input type="text" class="form-control" placeholder="Filename" name="title" required>
                  <br>
                  <input type="file" name="video" accept="video/*" required>
                  <br>
                  <input id="clipButton" type="submit" value="Get those clips!" class="btn btn-default">
              </div>
          </form>
</div>

<script src="main.js"></script>

</body>
</html>
