body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}

.form-control {
  width: 60%;
}

progress {
  margin-top: 10px;
  height: 30px;
  vertical-align: -0.75em;
}

/* change font and ejs bootstrap? */